[Desktop Entry]
Type=Application
Version=0.9.4
Name=Uninstall Pepper meshes
Comment=Uninstall
Icon=
Exec=/home/thanh/catkin_ws/src/pepper_meshes-master/devel/tmp/uninstall
Terminal=false
Path=/home/thanh/catkin_ws/src/pepper_meshes-master/devel/tmp